body{
  background-color: #F1FAEE;
  color: #1D3557;
  font-family: 'AriaL', sans-serif;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #E63946;
}

form{
  margin-bottom: 16px;

}

label{
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input{
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-bottom: 20px;
}

button{
  background-color: #457b9d;
  color: #F1FAEE;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#gradeGenerator, #speedDetector, #salaryCalculator{
  background-color: #A8DADC;
  padding: 10px;
  margin-bottom: 20px;
}

#gradeGenerator input,
#speedDetector input,
#salaryCalculator input {
  width: 200px;
}